<footer class="footer">
  <div class="footer__container">
    <section>
      <h2 class="footer__title">About us</h2>
      <p class="footer__about-text">
        Aliquam id libero vel leo ullamcorper sollicitudin. Cras augue augue,
        mollis vel dapibus vel, cursus id enim. Morbi quis turpis at risus
        suscipit dignissim eget eget nulla. Vivamus sollicitudin nibh at tellus
        rhoncus, dictum posuere ante tincidunt. Pellentesque vel sapien in quam
        scelerisque fringilla semper ac augue. Fusce volutpat, dolor eu
        vestibulum consectetur, mi magna dictum ex, in posuere ante est a justo.
        Cras vel massa non metus imperdiet vulputate. Etiam nibh libero, luctus
        in purus in, ornare scelerisque elit. Phasellus porta erat sit amet nisi
        lobortis aliquet. Pellentesque sit amet aliquet elit, at sollicitudin
        lacus. Phasellus purus orci, dignissim vel dolor at, bibendum dapibus
        tellus. Pellentesque quis augue vel nibh volutpat vehicula sed ac ipsum.
        Suspendisse facilisis nulla ut molestie finibus. Nulla vitae varius mi,
        at elementum nulla.
      </p>
    </section>
    <address>
      <h2 class="footer__title">Contact</h2>
      <ul>
        <li><i class="fa-sharp fa-solid fa-envelope"></i> email@email.com</li>
        <li><i class="fa-solid fa-phone"></i> (00) 0000-0000</li>
        <li><i class="fa-brands fa-whatsapp"></i> (00) 0 0000-0000</li>
      </ul>
    </address>
  </div>
  <section class="footer__copyright">&copy; All rights reserved</section>
</footer>
